rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /cms/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    match /symposium_visitors/{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
